body {
	margin: 0;
	background: #f2f2f2;
}

/* old main without games
.main {
	max-width: 500px;
	margin: 100px auto 0;
	padding: 20px;
}
*/
.main {
	max-width: 635px;
	margin: 50px auto 0;
	padding: 20px;
}

.links {
	font-size: 12px;
}

.copyright {
	font-size: 9px;
	font-family: "helvetica";
	font-weight: lighter;
	text-align: center;
	padding-top: 20px;
}

h1 {
	font-size: 33px;
	font-family: "helvetica";
	font-weight: lighter;
}

p {
	font-size: 14px;
	font-family: "helvetica";
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: #8080ff;
}

a:hover {
	background-color: #e6e6ff;
}