
body{
	margin: 0;
 	background: #ffffff;
 	background-image: url("img/background.png");
 	background-attachment: fixed;
 	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wrap {
	width: 95%;
	margin: 0 auto;
}

.header {
    top: 0;
    width: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    z-index: 2;
}
.header-text {
	font-weight: lighter;
    font-size: 12px;
}
.header-logo {
	height: 25px;
	padding-top: 10px;
}
.footer {
    bottom: 0;
    width: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.1);
    height: 56px;
}
.footer-text {
	font-family:'Trebuchet MS',sans-serif;
	font-weight: lighter;
    font-size: 12px;
    opacity: 0.5;
    padding-top: 20px;
    padding-left: 10px;
    float: left;
}
.footer-logo {
	padding-top: 15px;
	height: 25px;
}
.nav {
	float: right;
}
.logo {
	float: left;
}
li {
	list-style: none;
	float: left;
	margin-left: 30px;
	padding-bottom: 11px;
}
.linkImg {
	opacity: 0.5;
	height: 25px;
	transition: .3s ease;
}
.linkImg:hover{
    opacity: 0.7;
}



/* containter */

.container {
	max-width: 600px;
	margin: 0 auto;
}

/* old containter
.container {
	max-width: 600px;
	padding: 40px;
	margin: 0 auto;
	display:table;
}
*/

@media(max-width: 550px) {
  .container {
    margin: 0 auto;
  }
}




/* title */
.title {
	padding: 90px;
	text-align: center;
}
.title-logo {
	height: 100px;
	padding-top: 10px;
}





/* about */
.about-title {
	text-align: center;
}

.about {
	text-align: center;
	line-height: 170%;
	padding-bottom: 40px;
}





/* projects */
.portfolio-title {
	text-align: center;
}

.development {
	line-height: 130%;
	padding-bottom: 50px;
}

.design {
	line-height: 130%;
	padding-bottom: 50px;
}

.project {
  margin-bottom: 24px;
  display: table;
}

.project-pic {
	vertical-align:middle;
    display:table-cell;
    width: 25%;
}

.project-text {
	vertical-align: middle;
    display:table-cell;
    padding-left: 20px;
    width: 75%;
}

.icon {
	width: 130px;
	transition: .3s ease;
	border-radius: 15px;
}
.icon:hover {
	opacity: 0.7;
}
.iconImg {
	opacity: 0.5;
	height: 15px;
	transition: .3s ease;
	float: right;
	padding-left: 5px;
}
.iconImg:hover{
    opacity: 0.7;
}







/* headers */
@font-face {
    font-family: 'pixel';
    src: url(fonts/OurQuinny.ttf);
}

h1 {
	font-family:'pixel',sans-serif;
	font-size: 30px;
	font-weight: lighter;
	padding-top: 100px;
	letter-spacing: 10px;
	color: #ff567e;
}

h2 {
	font-family:'pixel',sans-serif;
	font-size: 17px;
	font-weight: lighter;
	letter-spacing: 3px;
	transition: .3s ease;
	color: #ff6600;
}

h3 {
	font-family:'Trebuchet MS',sans-serif;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 3px;
	transition: .3s ease;
}
h3:hover {
	opacity: 0.4;
}
h3.dotted {
	border-bottom: thin dotted #ff6600;
}

h4 {
	font-family:'Trebuchet MS',sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 3px;
	display: inline;
	color: orange;
}
h5 {
	font-family:'Trebuchet MS',sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: inline
}

p {
	font-family:'Trebuchet MS',sans-serif;
	font-size: 13px;
	display: inline
}

a {
	text-decoration: none;
	font-family:'Trebuchet MS',sans-serif;
	font-weight: lighter;
    font-size: 12px;
    opacity: 0.6;
    color: grey;
}
a:hover{
	opacity: 1;
}